html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 100vh;
    padding-bottom: 12px;
}
.grid-container {
    display:flex;
    border-style:solid;
    justify-content:center;
    flex-direction:column;
    flex-grow: 1;
    width: 60%;
    height: 40%;
    box-sizing:border-box;
}

.grid {
    flex-grow: 1;
}

.gridrow {
    display:flex;
    flex-grow: 1;
}

.buttoncontainer {
    padding-top: 12px;
    padding-bottom: 12px;
}

.adjust {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }